<header>
  <nav>
    <ul>

      <li>
        {{#if user}}<a
            class="linkPerfil"
            href="../api/sessions/current"
          >Perfil</a>{{else}}{{/if}}</li>
      <li>{{#if user}}
          {{#if isAdmin}}
            <form action="/productsManager" method="GET">
              <button class="closeSession">Vista administrador</button></form>
          {{else}}
            <form action="/messages" method="GET">
              <button class="closeSession">Chate치 con nosotros</button></form>
          {{/if}}

        {{/if}}</li>
      <li>{{#if user}}
          <form action="/api/sessions/logout" method="POST">
            <button class="closeSession" type="submit">Cerrar Sesi칩n</button>
          </form>{{else}}<a class="linkPerfil" href="../login">Iniciar sesi칩n</a>{{/if}}</li>

    </ul>{{#if user}}
      {{#if isAdmin}}{{else}}
        <a
          href="/carts/{{user.cart}}"
          class="material-symbols-outlined"
          id="imgCart"
        >
          {{#if cart.length}}
            <p class="quantity">{{cart.length}}</p>
          {{else}}
            <p></p>
          {{/if}}
          shopping_cart
        </a>
      {{/if}}
    {{else}}

    {{/if}}</nav></header>
<main>
  <div class="divDetails">

    <section class="productDetails">
      <h3>{{product.title}}</h3>
      <div class="priceAndMore">
        <div class="details">
          <p>Descripci칩n: {{product.description}}</p>
          <p>Precio: $ {{product.price}}.-</p>
          <p>Categoria: {{product.category}}</p>
          <div class="btns">
            {{#if user}}
              {{#if isAdmin}}{{else}}
                <form
                  action="/carts/{{user.cart}}/products/{{product._id}}/productDetails"
                  method="POST"
                ><button class="addButton">Agregar </button></form>
              {{/if}}
              <a href="/products"><button class="shoping">Seguir comprando</button></a>

            {{else}}
              <a href="/products"><button class="shoping">Ver todos</button></a>
            {{/if}}
          </div>

        </div>

      </div>
    </section>
  </div>
</main>

<script src="/js/productsDetails.js"></script>